{% extends "base.twig" %}

{% block header %}
    Select an institution to login to <span class="serviceName">{{ displayName }}</span>
{% endblock %}
    
{% block container %}
    <form class="filter" method="get">
        <input type="hidden" name="returnIDParam" value="{{ returnIDParam }}">
        <input type="hidden" name="entityID" value="{{ entityID }}">
        <input type="hidden" name="return" value="{{ return }}">

        <input {% if not lastChosen and not filter %}autofocus="autofocus"{% endif %} value="{{ filter }}" name="filter" id="filter" tabindex="1" type="text" autocomplete="off" placeholder="Search for an institution...">
    </form>

    {% if lastChosen %}
        <div id="lastChosen">
            <div class="listHeader">Previously chosen</div>
            <ul>
                <li>
                    <form class="entity" method="post">
                        <button class="{{ lastChosen.encodedEntityID }}" autofocus="autofocus" name="idpEntityID" value="{{ lastChosen.entityID }}" tabindex="2">{{ lastChosen.displayName }}</button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}

    {% if idpList is not empty %}
        <div id="accessList">
            <div class="listHeader">Institutes with access</div>
            <ul id="disco">
                {% for key, idp in idpList %}
                    <li>
                        <form class="entity" method="post">
                            <button {% if filter and key == 0 %}autofocus="autofocus"{% endif %} name="idpEntityID" value="{{ idp.entityID }}" tabindex="{{ key + 2 }}" class="{{ idp.encodedEntityID }}" data-keywords="{{ idp.keywords|join(' ') }}">{{ idp.displayName }}</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
